@import "../mixins/hide";

.demo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.54rem;

  &__field-wrapper{
    width: 12.32rem;
    margin: 0 1.54rem 0 0;
    position: relative;

    &_for-checkbox{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 7.7rem;
      .demo{
        &__field-settings, &__field-scale{
          @include hide;
          &:checked +.demo__mark{
            background: url("./background-for-checkbox.svg") no-repeat;
            &::before{
              right: 0.231rem;
            }
            &::after{
            content: 'on';
              left: 1.16rem;
            }
          }
        }
        &__mark{
          position: relative;
          margin-top: 0.616rem;
          &::before{
            position: absolute;
            content: '';
            width: 1.46rem;
            height: 1.54rem;
            background: #ffffff;
            border-radius: 50%;
            right: 2.85rem;
            top: 0.154rem;
          }
          &::after{
            position: absolute;
            content: 'off';
            font-size: .92rem;
            width: 1.54rem;
            height: 1.16rem;
            color: #ffffff;
            text-transform: uppercase;
            top: -0.7rem;
            left: 2.23rem;
            letter-spacing: .6px;
          }
        }
      }

      .demo__mark{
        width: 4.62rem;
        height: 1.85rem;
        display: inline-block;
        background: url("./background-for-checkbox-gray.svg") no-repeat;
      }
    }
  }

  &__field-value, &__field-settings{
    background: #e5e5e5;
    border-radius: 0.385rem;
    border: none;
    height: 2rem;
    width: 100%;
    padding: 0 0 0 0.77rem;
  }

  &__mark{
    font-size: 0.92rem;
  }

}
