include ../slider/slider
include ../panel/panel

mixin demo
  div.demo.js-demo
    form.demo__form-panel.js-demo__form-panel
      +panel(true)

    div.demo__slider-wrapper.js-demo__slider-wrapper
      +slider
