.slider{
  position: relative;
  padding: 1.54rem 0;

  &__track{
    width: 20rem;
    height: 0.38rem;
    background: #e5e5e5;
    position: relative;
  }

  &__progress{
    width: 0;
    height: 0.38rem;
    background: #e75735;
  }

  &__label{
    height: 2.15rem;
    width: 2.69rem;
    background: url("icon-label.svg") no-repeat;
    color: #ffffff;
    text-align: center;
    line-height: 1.92rem;
    position: absolute;
    top: -1.38rem;
    left: -0.62rem;
  }

  &__scale-item{
    position: absolute;
    list-style: none;
    font-size: 0.85rem;
    color: #d1d1d1;
    letter-spacing: .042rem;
    text-align: center;
    width: 1.62rem;
  }

  &__thumb{
    width: 1.62rem;
    height: 1.62rem;
    background: #e75735;
    border-radius: 50%;
    position: absolute;
    top: 0.92rem;
  }
}
