.slider{
  position: relative;
  width: 100%;

  &_type_vertical {
    .slider {
      &__label {
        left: -46px;
        top: -2px;

        &::before{
          width: 3.5rem;
          height: 2.15rem;
          background: url("icon-label-vertical.svg") no-repeat;
          top: -.14rem;
        }
      }

      &__thumb {
        left: -8px;
      }

      &__progress {
        width: 5px;
      }
    }
  }

  &__track{
    height: 0.38rem;
    background: #e5e5e5;
    position: relative;
    cursor: pointer;
  }

  &__progress{
    width: 0;
    height: 0.38rem;
    background: #e75735;
    position:  absolute;
  }

  &__label{
    height: 2.15rem;
    width: 2.69rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.92rem;
    position: absolute;
    top: -30px;
    left: -7px;
    &::before{
      content: '';
      position: absolute;
      height: 2.15rem;
      width: 2.69rem;
      background: url("icon-label.svg") no-repeat;
      left: 0;
      z-index: -1;
    }
  }

  &__scale-item{
    position: absolute;
    list-style: none;
    font-size: 0.85rem;
    color: #d1d1d1;
    letter-spacing: .042rem;
    text-align: center;
    width: 1.62rem;
    cursor: pointer;
  }

  &__thumb{
    width: 1.62rem;
    height: 1.62rem;
    background: #e75735;
    border-radius: 50%;
    position: absolute;
    top: -.6rem;
    cursor: pointer;

    &_type_min{
      z-index: 100;
    }
  }
}
