.slider{
  position: relative;
  width: 100%;

  &_type_vertical {
    .slider {
      &__label {
        left: 1.9rem;
        top: 50%;
        transform: translate(0, -50%);

        &::before{
          border-right: .5rem solid #e75735;
          border-top: .5rem solid transparent;
          border-bottom: .5rem solid transparent;
          left: -.3rem;
          bottom: 0;
          transform: translate(-50%, -50%);
        }
      }

      &__thumb {
        left: -8px;
      }

      &__progress {
        width: 5px;
      }

      &__scale {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        top: 0;
        left: -5rem;
        margin: 0;
      }
    }
  }

  &__track{
    height: 0.38rem;
    background: #e5e5e5;
    position: relative;
    cursor: pointer;
  }

  &__progress{
    width: 0;
    height: 0.38rem;
    background: #e75735;
    position:  absolute;
  }

  &__label{
    color: #ffffff;
    text-align: center;
    line-height: 1.92rem;
    background: #e75735;
    border-radius: .4rem;
    min-width: 2.5rem;
    position: absolute;
    top: -2.4rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    padding: .1rem .4rem;
    &::before{
      content: '';
      position: absolute;
      border-top: .5rem solid #e75735;
      border-left: .5rem solid transparent;
      border-right: 0.5rem solid transparent;
      left: 50%;
      transform: translate(-50%);
      bottom: -.3rem;
      z-index: -1;
    }
  }

  &__scale-item{
    position: absolute;
    list-style: none;
    font-size: 0.85rem;
    color: #d1d1d1;
    letter-spacing: .042rem;
    text-align: center;
    width: 1.62rem;
    cursor: pointer;
  }

  &__thumb{
    width: 1.62rem;
    height: 1.62rem;
    background: #e75735;
    border-radius: 50%;
    position: absolute;
    top: -.6rem;
    cursor: pointer;

    &_type_min{
      z-index: 100;
    }
  }
}
