doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title slider
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    main.main
      each value in new Array(4)
        div.main__form-wrapper.js-main__form-wrapper
          form.main__form.form.js-form
