.error{
  background: url("./back-error.svg") no-repeat;
  position: absolute;
  width: max-content;
  height: 2.16rem;
  background-size: 100% 100%;
  padding: 0 1.7rem;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.77rem;
  letter-spacing: 0.039rem;
  z-index: 10;
  top: 3.7rem;
  left: 106%;
  display: flex;
  justify-content: center;
  align-items: center;
}
