@import '../mixins/hide';

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3.5rem;

  &__wrapper {
    margin: 0 1.54rem 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.7rem;
    line-height: 1.5rem;

    &_hidden {
      @include hide;
    }
  }

  &__mark {
    text-align: center;
  }

  &__field-settings:not(.panel__field-settings_type_min):not(.panel__field-settings_type_max), &__field-scale {
    @include hide;
  }


  &__field-value, &__field-step {
    background: #e5e5e5;
    border-radius: 0.385rem;
    border: none;
    height: 2rem;
    width: 100%;
    padding: 0 0 0 0.77rem;
  }
}