include ../panel-settings/panel-settings

mixin panel()

  -
    const modifiers = ['', 'min', 'max'];
    const createClasses = (index) => {
      if (index !== 0) {
        return `panel__field-value_type_${modifiers[index]} js-panel__field-value_type_${modifiers[index]}`;
      }
    };

  div.panel
    each value, index in Array(3)
      div.panel__wrapper.panel__wrapper_type_value.js-panel__wrapper_type_value
        label.panel__mark=`value ${modifiers[index] || ''}`
          input.panel__field-value.js-panel__field-value(type = "number" class = createClasses(index))

    +panel-settings()

    div.panel__wrapper.panel__wrapper_type_step.js-panel__wrapper_type_step
      label.panel__mark step
      input.panel__field-step.js-panel__field-step(type = "number")