@import '../mixins/hide';

.panel-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5rem;

  &__wrapper {
    margin: 0 1.54rem 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.7rem;
  }

  &__mark {
    text-align: center;
    position: relative;
    margin-top: 0.1rem;
  }

  &__field {
    background: #e5e5e5;
    border-radius: 0.385rem;
    border: none;
    height: 2rem;
    width: 100%;
    padding: 0 0 0 0.77rem;
    &:not(&_type_min):not(&_type_max) {
      @include hide;
    }
  }

  &__field:checked ~ &__toggle {
    background: url('./images/background-for-checkbox.svg') no-repeat;

    &::before {
      right: 0.231rem;
    }

    &::after {
      content: 'on';
      left: 1.16rem;
    }
  }

  &__toggle {
    width: 4.62rem;
    height: 1.85rem;
    display: inline-block;
    background: url('./images/background-for-checkbox-gray.svg') no-repeat;

    &::before{
      position: absolute;
      content: '';
      width: 1.46rem;
      height: 1.54rem;
      background: #ffffff;
      border-radius: 50%;
      right: 2.85rem;
      top: 0.154rem;
    }

    &::after{
      position: absolute;
      content: 'off';
      font-size: .92rem;
      width: 1.54rem;
      height: 1.16rem;
      color: #ffffff;
      text-transform: uppercase;
      top: 0.3rem;
      left: 2.23rem;
      letter-spacing: .005rem;
    }
  }
}