@font-face {
  font-family: 'latoblack';
  src: url('../fonts/lato-black-webfont.woff') format('woff'),
  url('../fonts/lato-black-webfont.ttf') format('truetype'),
  url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;

}
main{
  padding: 15px;
  font: 13px/42px latoblack sans-serif;
}
.slider-wrapper{
  position: relative;
  padding: 20px 0;
  margin: 20px 20px;
}
.slider-track{
  width: 260px;
  height: 5px;
  background: #e5e5e5;
}
.slider-progress{
  width: 0;
  height: 5px;
  background: #e75735;
}
.slider-label{
  height: 28px;
  width: 35px;
  background: url("./icon-label.svg") no-repeat;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  position: absolute;
  top: -18px;
  left: -8px;
}
.slider__scale-item{
  position: absolute;
  list-style: none;
  font-size: 11px;
  color: #d1d1d1;
  letter-spacing: 0.55px;
  text-align: center;
  width: 21px;
}