main{
  padding: 15px;
}
.slider-wrapper{
  position: relative;
}
.slider-track{
  width: 260px;
  height: 5px;
  background: #e5e5e5;
}
.slider-progress{
  width: 0;
  height: 5px;
  background: #e75735;
}