@font-face {
  font-family: 'latoblack';
    src: url('../../fonts/lato-black.woff2') format('woff2'),
  url('../../fonts/lato-black.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}