@font-face {
  font-family: 'latoblack';
  src: url(files/122dd525c1895ecc015707f83ae6f274.woff) format("woff"), url(files/7d3b4028e977c26af132cca3077bee71.ttf) format("truetype"), url(files/ac25820885f1598a97a15aafcf35f00e.svg#latoblack) format("svg");
  font-weight: normal;
  font-style: normal; }

main {
  padding: 15px;
  font: 13px/42px latoblack sans-serif; }

.slider-wrapper {
  position: relative;
  padding: 20px 0;
  margin: 20px 20px; }

.slider-track {
  width: 260px;
  height: 5px;
  background: #e5e5e5;
  position: relative; }

.slider-progress {
  width: 0;
  height: 5px;
  background: #e75735; }

.slider-label {
  height: 28px;
  width: 35px;
  background: url(files/c0a5b07c9ff4a5d84f90e2fdc67ea6fa.svg) no-repeat;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  position: absolute;
  top: -18px;
  left: -8px; }

.slider__scale-item {
  position: absolute;
  list-style: none;
  font-size: 11px;
  color: #d1d1d1;
  letter-spacing: 0.55px;
  text-align: center;
  width: 21px; }

.slider-thumb {
  width: 21px;
  height: 21px;
  background: #e75735;
  border-radius: 50%;
  position: absolute;
  top: 12px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main__form-wrapper {
  width: 40%;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main__form-wrapper .slider-wrapper {
    margin: 50px 20px 20px 20px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.form__input-wrapper {
  position: relative;
  display: inline-block; }

.form__input-value, .form__input-settings {
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  width: 206px;
  height: 26px;
  margin: 10px 10px 15px; }
  .form__input-value.form__input-value--min, .form__input-value.form__input-value--max, .form__input-settings.form__input-value--min, .form__input-settings.form__input-value--max {
    width: 91px; }

.form__label-input {
  font-size: 12px;
  margin: 0 10px 0 10px;
  position: absolute;
  left: 0;
  top: -25px; }

